@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

.navbar {
  height: 3rem;
  background-color: whitesmoke;
  width: 100%;
  display: flex;
  align-items: left;
  justify-content: flex-start;
  position: relative;
}

.navbar span {
  font-family: "Bebas Neue", cursive;
  font-size: xx-large;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 0;
  font-weight: bold;
  color: black;
}

.navbar nav {
  height: 100%;
}

.navbar ul {
  position: absolute;
  height: 100%;
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
}

.navbar li {
  margin: 1rem;
  width: 5rem;
}

.navbar a {
  color: Grey;
  text-decoration: none;
}

.navbar a:hover,
.navbar a:active,
.navbar a.active {
  color: black;
  padding-bottom: 0.25rem;
  border-bottom: 4px solid black;
}
