@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

body {
  background: black;
  background-color: black;
  color: whitesmoke;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
  font-family: "Open Sans", sans-serif;
}

.wrapper {
  font: inherit;
  padding: 0;
  border: 0;
  margin: 0;
  vertical-align: baseline;
}

.title-block {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  bottom: auto;
  padding: 0;
}

.page-title {
  letter-spacing: 0.5em;
}

.home-container {
  position: relative;
  font: inherit;
  padding: 0;
  border: 0;
  margin: 0;
  vertical-align: baseline;
  height: 80vh;
  display: flex;
}

.bottom-block {
  position: absolute;
  bottom: 0;
}

.home-pg > .row {
  overflow-x: auto;
  flex-wrap: nowrap;
  position: absolute;
}

/* ---------------------------------- */

.show-app > .row {
  overflow-x: auto;
  flex-wrap: nowrap;
}

.image-container {
  position: relative;
  transition: transform 0.2s;
}

.image-container:hover {
  cursor: pointer;
  transform: scale(1.1);
}

img {
  width: 100%;
  height: auto;
}

.image-container:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  bottom: 0;
  font-size: 1em;
  padding: 1em;
  text-align: center;
}
